*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    border: #000 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.register-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    border: #000 solid 1px;
    width: 500px;

    justify-content: center;
    align-items: center;


    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-link{
    text-decoration: none;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button{
    margin: 10px;
    padding: 10px;

    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-cont{
    margin:10px;
    display: flex;
    gap: 10px;

}
