* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7eae4;
    /* #f4f4f4;  */
    color: #333;
    line-height: 1.6;
}

h2 {
    background-color: #fffefe1c;
    margin-top: 32px;
}


/* navbar section  */
.navbar-container {
    background-color: #19183B;
    height: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;
}

.logo-section {
    align-self: center;
    justify-self: flex-start;
    color: #fff;
    border-bottom: #fd743d solid 2px;
}

.logo-section a {
    color: #fd743d;
    text-decoration: none;
    font-weight: bolder;
}

.search-bar-section {
    position: relative;
    flex-grow: 1;
    justify-self: center;
    display: flex;
    align-items: center;
}

.cart-login-section {
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

.cart-login-section a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px;
    color: #fff;
    font-weight: bolder;
    font-size: medium;
}

/* hero container  */
.hero-container {
    display: grid;
}

.hero-text-section {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.logo-hero {
    color: #fd743d;
    border-bottom: #fd743d solid 2px;
}

.shop-now-button {
    border: #fd743d solid 2px;
    text-decoration: none;
    color: #fd743d;
    font-weight: bolder;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

.hero-image-section {
    width: 90%;
    justify-self: center;
}

.hero-image {
    width: 100%;
}

/* product container  */
.product-container {
    position: relative;
    display: grid;
    /* width: 100%; */
}

.product-container h2 {
    text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    overflow-x: auto;
}

.product-grid::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex-shrink: 0;
    background-color: #ffffff49;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.133);
    text-align: center;
}

.product-card a {
    background-color: #fd743d;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* customer review container */
.customer-review-container {
    position: relative;
    display: grid;
}

.customer-review-container h2 {
    text-align: center;
}

.customer-grid {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 16px 0;
}

.customer-grid::-webkit-scrollbar {
    display: none;
}

.review-card {
    flex-shrink: 0;
    background-color: #ffffff49;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.133);
    width: 300px;
    padding: 16px;
    text-align: center;
}

.customer-image {
    width: 100px;
    border-radius: 50%;
}

/* scroll buttons */
.left-btn {
    position: absolute;
    left: 0;
    height: 60px;
    width: 40px;
    background-color: #00000003;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.018);
    margin: 5px;
    align-self: center;
    border: none;
    border-radius: 5px;
}

.right-btn {
    position: absolute;
    right: 0;
    height: 60px;
    width: 40px;
    background-color: #00000003;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.018);
    margin: 5px;
    align-self: center;
    border: none;
    border-radius: 5px;
}

/* about section  */
.about-us-container {
    display: grid;
    gap: 0;
}

.about-us-container h2 {
    /* border:#000 solid 2px; */
    
    text-align: center;
}

.about-us-container h3 {
    width: 90%;
        justify-self: center;
        align-self: center;
        text-align: center;
}

.about-us-container img {
    width: 100%;
    text-align: center;
    /* border:#000 solid 2px; */
}

/* footer container*/
.footer-container {
    display: grid;
    width: 100%;
    background-color: #19183B;
    color: #fff;
    padding: 24px 0;
    margin-top: 20px;
}

.browse-more {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.find-more {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.social-media {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: start;
}

.footer-container a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.social-media a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.footer-container h3 {
    border-bottom: #f7f7fe solid 2px;
    margin: 10px;
}

.social-media img {
    width: 24px;
}

.copy-right {
    width: 100%;
    margin-top: 20px;
    justify-self: center;
    text-align: center;
}

.copy-right hr {
    width: 75%;
    color: #fff;
    margin: 10px auto;
}

a.logo-footer {
    color: #fd743d;
    font-weight: bolder;
    font-size: 36px;
    border-bottom: #fd743d solid 3px;
    align-self: flex-start;
}


@media (min-width:0px) {

    .logo-section {
        margin-left: 16px;
    }

    .search-bar-section {
        justify-content: end;
    }

    .search-bar-section input[type="text"] {
        display: none;
    }

    .search-icon-black {
        display: none;
    }

    .search-icon-white {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .cart-login-section {
        margin-right: 16px;
    }

    /* hero container  */
    .hero-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 0 16px;
    }

    .hero-text-section {
        order: 1;
        grid-column: span 4;
        justify-self: center;
        align-self: center;

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-image-section {
        order: 0;
        grid-column: span 4;
    }

    /* product container  */
    .product-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 0 16px;
    }

    .product-container h2 {
        grid-column: span 4;
    }

    .product-grid {
        grid-column: span 4;
        padding: 16px 0;
    }

    .product-card {
        padding: 16px;
        width: calc(50% - 8px);
    }

    /* customer review container */
    .customer-review-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 0 16px;
    }

    .customer-review-container h2 {
        grid-column: span 4;
    }

    .customer-grid {
        grid-column: span 4;
    }

    /* about section  */
    .about-us-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 0 16px;
    }

    .about-us-text {
        grid-column: span 4;
        text-align: center;
    }

    /* .about-us-container h3 {
        grid-column: span 4;
        /* width: 90%;
        justify-self: center;
        align-self: center;
        text-align: center; */
        /* padding: 16px 0; */
    /* } */

    .about-us-container img {
        grid-column: span 4;
        width: 100%;
    }

    /* footer container*/
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
        ;
    }

    .browse-more {
        grid-column: span 4;
    }

    .find-more {
        grid-column: span 4;
    }

    .social-media {
        grid-column: span 4;
    }

    .copy-right {
        grid-column: span 4;
    }

    .copy-right hr {
        width: 75%;
    }

    /* scroll button  */
    .left-btn {
        margin: 21px;
    }

    .right-btn {
        margin: 21px;
    }
}

@media(min-width:600px) {
    .navbar {
        padding: 0 32px;
    }

    .logo-section {
        margin-left: 0;
    }

    .search-bar-section {
        margin: 10px 20px;
        display: flex;
        justify-self: center;
        flex-grow: 1;
    }

    .search-bar-section input[type="text"] {
        display: block;
        width: 70%;
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 8px;
        color: #fff;
        background-color: #EBEBEB;
    }

    .search-icon-black {
        display: block;
        position: absolute;
        right: 0;
        z-index: 1;
        border-left: #000 solid 2px;
        padding: 0 3px;
    }

    .search-icon-white {
        display: none;
    }

    .cart-login-section {
        margin-right: 0;
    }

    /* hero section  */
    .hero-container {
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
        padding: 0 32px;
    }

    .hero-text-section {
        grid-column: span 8;
    }

    .hero-image-section {
        grid-column: span 8;
    }


    /* product container  */
    .product-container {
        grid-template-columns: repeat(8, 1fr);
        /* gap: 24px; */
        width: 100%;
        padding: 0 32px;
    }

    .product-container h2 {
        grid-column: span 8;
    }

    .product-grid {
        grid-column: span 8;
        /* gap: 20px; */
    }

    .product-card {
        width: 200px;
        padding: 16px;
        ;
    }


    /* customer review container */
    .customer-review-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        /* gap: 24px; */
        width: 100%;
        padding: 0 32px;
    }

    .customer-review-container h2 {
        grid-column: span 8;
        text-align: center;
    }

    .customer-grid {
        grid-column: span 8;
        /* gap: 20px; */
    }

    .customer-grid::-webkit-scrollbar {
        display: none;
    }

    .review-card {
        width: 300px;
        padding: 16px;
        text-align: center;
    }

    .customer-image {
        width: 100px;
        border-radius: 50%;
    }

    /* about section  */
    .about-us-container {

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        /* gap: 24px; */
        width: 100%;
        padding: 0 32px;
    }

    .about-us-container h2 {
        grid-column: span 8;
        text-align: center;
    }

    .about-us-text {
        grid-column: span 8;
        width: 90%;
    }

    .about-us-container img {
        grid-column: span 8;
        width: 100%;
        text-align: center;
    }

    /* footer container*/
    .footer-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .browse-more {
        grid-column: span 4;
    }

    .find-more {
        grid-column: span 4;
    }

    .social-media {
        grid-column: span 4;
        ;
    }

    .copy-right {
        grid-column: span 12;
    }

    .copy-right hr {
        width: 50%;
    }

/* scroll button  */
    .left-btn {
        margin: 37px;
    }

    .right-btn {
        margin: 37px;
    }
}

@media(min-width:904px) {
    .navbar {
        width: 840px;
        margin: auto;
        padding: 0;
    }

    /* hero section  */
    .hero-container {
        grid-template-columns: repeat(12, 1fr);
        width: 840px;
        /* gap: 24px; */
        margin: auto;
        padding: 0;
    }

    .hero-text-section {
        order: 0;
        grid-column: span 5;
        justify-self: start;

        align-items: flex-start;
        text-align: start;
    }

    .shop-now-button {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .hero-image-section {
        grid-column: span 7;
    }

    /* product container  */
    .product-container {
        grid-template-columns: repeat(12, 1fr);
        /* gap: 24px; */
        width: 840px;
        margin: auto;
        padding: 0;
    }

    .product-container h2 {
        grid-column: span 12;
    }

    .product-grid {
        grid-column: span 12;
    }

    /* customer review container */
    .customer-review-container {
        grid-template-columns: repeat(12, 1fr);
        /* gap: 24px; */
        width: 840px;
        margin: auto;
        padding: 0;
    }

    .customer-review-container h2 {
        grid-column: span 12;
    }

    .customer-grid {
        grid-column: span 12;
    }


    /* about section  */
    .about-us-container {
        grid-template-columns: repeat(12, 1fr);
        /* gap: 24px; */
        width: 840px;
        margin: auto;
        padding: 0;
    }

    

      .about-us-text {
        grid-column: span 6;
        align-self: center;
    }

    .about-us-container img {
        grid-column: span 6;
    }

    /* footer container*/
    .footer-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .browse-more {
        grid-column: span 4;
    }

    .find-more {
        grid-column: span 4;
    }

    .social-media {
        grid-column: span 4;
    }

    .social-media img {
        width: 24px;
    }

    .copy-right {
        grid-column: span 12;
    }
    /* scroll button  */
    .left-btn {
        margin: 5px;
    }

    .right-btn {
        margin: 5px;
    }
}

@media(min-width:1240px) {
    .navbar {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }

    /* hero section  */
    .hero-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }

    /* product container  */
    .product-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }

    /* customer review container */
    .customer-review-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
        ;
    }

    /* about section  */
    .about-us-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }

    /* scroll button  */
    .left-btn {
        margin: 205px;
    }

    .right-btn {
        margin: 205px;
    }
}

@media(min-width:1440px) {

    /* navbar section  */
    .navbar-container {
        height: 60px;
    }

    .navbar {
        width: 1040px;
        margin: auto;
        padding: 0;
    }

    /* hero section  */
    .hero-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }

    /* product container  */
    .product-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }

    /* customer review container */
    .customer-review-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }

    /* about section  */
    .about-us-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }
    /* scroll button  */
    .left-btn {
        margin: 5px;
    }

    .right-btn {
        margin: 5px;
    }
}