* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}
.container {
    
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    justify-content: center;
}   


.navbar-container {
    grid-column: span 12;
    background-color: #9e9b9b;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-section {
    flex-shrink: 0;
    border: 1px solid #000;
    margin: 10px 20px;
}
.search-bar-section {
    flex-grow: 1;
    /* border: 1px solid #000; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
}

.search-bar-section input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px 0 0 8px;
}

.search-bar-section input[type="text"]:focus {
    outline: none;
}

.search-bar-icon {
    margin-left: -1px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 0 8px 8px 0;
}


.cart-login-section {
    flex-shrink: 0;
    border: 1px solid #000;
    margin: 10px 20px;

    display: flex;
    justify-self: space-around;
    align-items: center;
}

.login{
    margin: 10px 10px;
}
.cart-icon{
    margin: 10px 10px;
}

.hero-text-container {
    /* border: #000 1px solid; */
    grid-column: span 5;
    justify-self: center;
    align-self: center;
    width: 90%;
    padding: 20px;
}

.hero-image-container {
    grid-column: span 7;
    width: 90%;
    /* border:#000 1px solid;   */
    justify-self: center;
    
}
.hero-image{
    width: 100%;
}



.products-container {
    grid-column: span 12;
    padding: 40px 20px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px; 
    /* border: #000 1px solid; */
    justify-content: center;
}
.products-container h2 {
    /* border: #000 1px solid; */
    text-align: center;
    margin-bottom: 20px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 16px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}


.about-us-container {
    grid-column: span 12;
    width: 75%;
    justify-self: center;
    padding: 30px 20px;
    text-align: center;
    margin-top: 20px;
}
.footer-container {
    grid-column: span 12;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}   