*{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000 solid 1px;
}
.login-container {
    width: 400px;
    /* height: 400px; */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}


input[type="text"], input[type="password"] {
    width: 100%;    
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;

    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: #45a049;
}


 .register-btn{
    text-decoration: none;
    color: #0066cc;
    margin: 10px 10px 10px 0;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: #000 solid 2px;
    border-radius: 5px;
}

.forget-password-btn {
    background-color: none;
}


