* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}
.container {
    /* width: 90%; */
    
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    justify-content: center;
}   


.navbar-container {
    grid-column: span 12;
    background-color: #EF7722;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff
}


.logo-section {
    flex-shrink: 0;
    /* border: 1px solid #fff; */
    margin: 10px 20px;
    color:#fff;
    border-radius: 5px;
    background-color: #0000003b;
    padding: 5px;
}
.logo-section a{
    color:#EBEBEB;
    text-decoration: none;
    font-weight: bolder;
    padding:10px;
    
}
.search-bar-section {
    flex-grow: 1;
    /* border: 1px solid #000; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
}

.search-bar-section input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px 0 0 8px;
    color:#fff;
    background-color: #EBEBEB;
}

.search-bar-section input[type="text"]:focus {
    outline: none;
}

.search-bar-icon {
    margin-left: -1px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 0 8px 8px 0;
}


.cart-login-section {
    flex-shrink: 0;
    border: 1px solid #000;
    margin: 10px 20px;

    display: flex;
    justify-self: space-around;
    align-items: center;
}

.login{
    margin: 10px 10px;
    color: #fff;
}
.cart-icon{
    margin: 10px 10px;
}

.hero-text-container {
    /* border: #000 1px solid; */
    grid-column: span 5;
    justify-self: center;
    align-self: center;
    width: 90%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
.shop-now-button {
    background-color:#EF7722;
    text-decoration: none;
    color:#fff;
    font-weight: bolder;
    padding:10px 20px;
    margin-top:30px;
    border-radius: 5px;
    justify-self: flex-start;
    align-self: flex-start;
}


.hero-image-container {
    padding: 0 40px;
    grid-column: span 7;
    width: 90%;
    /* border:#000 1px solid;   */
    justify-self: center;
    
}
.hero-image{
    width: 100%;
}



.products-container {
    
    grid-column: span 12;
    padding: 40px 40px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px; 
    /* border: #000 1px solid; */
    justify-content: center;
}
.products-container h2 {
    /* border: #000 1px solid; */
    text-align: center;
    margin-bottom: 20px;
   
}
.product-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    /* justify-content: center; */
    /* margin-left: 20px; */
    overflow-x: auto;
    /* border: #000 1px solid; */
}
.product-grid::-webkit-scrollbar {
    display: none;
}   

.product-card {
    flex-shrink: 0;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 16px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

.customer-review-container {
    grid-column: span 12;
    padding: 40px 40px;
    gap: 20px; 
    justify-content: center;
}

.customer-review-container h2 {
    text-align: center;
    margin-bottom: 20px;
   
}

.customer-grid{
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.customer-grid::-webkit-scrollbar {
    display: none;
}
.review-card {
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 16px;
    text-align: center;
}

.customer-image{
    width:100px;
    border-radius: 50%;
}




.about-us-container {
    grid-column: span 12;
    width: 75%;
    justify-self: center;
    padding: 30px 20px;
    text-align: center;
    margin-top: 20px;
}


/* footer section style*/
.footer-container {
    grid-column: span 12;
    background-color: #19183B;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}   
.find-more{
    width: 60%;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
   
}
.browse-more{
    width: 60%;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.social-media{
    width: 60%;
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    justify-self: center;
    text-align: start;
}
.footer-container a{
    text-decoration: none;
    color:#fff; 
    margin: 10px;  
}
.social-media a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px;
}
.social-media img{
    width:24px;  
}
.copy-right{
    grid-column: span 3;
    width:100%;
    margin-top:20px;
    justify-self: center;
    text-align: center;
}
.copy-right hr{
    width: 50%;
    color:#fff;
    margin: 10px auto;
    
}



