.product-card-container{
    position: relative;
    width: 1152px;
}

.left-btn{
    position: absolute;
    left: 0;
    height: 90%; 
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.121), rgba(255, 255, 255, 0));
    border: none;
    opacity: 0.5;
}


.right-btn{
    position: absolute;
    right: 0;
    height: 90%; 
    background-image: linear-gradient(90deg, rgb(255, 255, 255,1), rgba(255, 255, 255, 0));
    border: none;
    opacity: 0.5;
}   

.product-grid {
    max-width: 1152px;
    display: flex;
    overflow-x: scroll;
}

.product-grid::-webkit-scrollbar {
    display: none;  }

.product-card {
    flex-shrink: 0;
    max-width: 270px;
    padding: 0;
    margin-right: 24px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.product-image-container {
    width: 270px;
    height: 180px;
    padding: 0;
    margin: 0 ;
}

.product-image {
    width: 100%;
} 

