* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color:#f7eae4;
    
    /* #f4f4f4;  */
    color: #333;
    line-height: 1.6;
}


/* navbar section  */
.navbar-container {
    background-color: #19183B;
    height: 60px;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 1480px;
    margin:auto;
}
.logo-section {
    grid-column: span 2;
    align-self: center;
    justify-self: start;
    color:#fff;
    border-radius: 5px;
    background-color: #fffefe16;
    padding: 5px;
}
.logo-section a{
    color:#fd743d;
    text-decoration: none;
    font-weight: bolder;
    padding:10px;
    
}
.search-bar-section {
    grid-column: span 7;
    /* border: 1px solid #000; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
}
.search-bar-section input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 8px;
    color:#fff;
    background-color: #EBEBEB;
}
.search-bar-section {
    outline: none;
}
.search-bar-icon {
    margin-left: -44px;
    padding: 8px;
    border-radius: 0 8px 8px 0;
}
.cart-login-section {
    grid-column: span 3;
    justify-self: end;

    display: flex;
    justify-self: space-around;
    align-items: center;
}
.cart-login-section a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color:#fff;
    font-weight: bolder;
    font-size: medium;
}


/* hero section  */
.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width:1480px;
    gap:24px;
    margin:auto;
}

.hero-text-section {
    /* border: #000 1px solid; */
    grid-column: span 5;
    /* justify-self: center; */
    align-self: center;
    width: 90%;
    /* padding: 0 40px; */
    display: flex;
    flex-direction: column;
}
.shop-now-button {
    background-color:#fd743d;
    text-decoration: none;
    color:#fff;
    font-weight: bolder;
    padding:10px 20px;
    margin-top:30px;
    border-radius: 5px;
    justify-self: flex-start;
    align-self: flex-start;
}
.hero-image-section {
    padding: 0 40px;
    grid-column: span 7;
    width: 90%;
    /* border:#000 2px solid;   */
    justify-self: center;
}
.hero-image{
    width: 100%;
}

/* product container  */
.product-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px; 
    width: 1480px;
    margin:auto;
    /* border: #000 1px solid; */
}
.product-container h2 {
    grid-column: span 12;
    text-align: center;
}
.product-grid {
    grid-column: span 12;

    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;

    /* border: #000 1px solid; */
}
.product-grid::-webkit-scrollbar {
    display: none;
}   

.product-card {
    flex-shrink: 0;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 16px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}


/* customer review container */
.customer-review-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px; 
    width: 1480px;
    margin: auto;
}

.customer-review-container h2 {
    grid-column: span 12;
    text-align: center;
    margin-bottom: 20px;
   
}

.customer-grid{
    grid-column: span 12;
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.customer-grid::-webkit-scrollbar {
    display: none;
}
.review-card {
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 16px;
    text-align: center;
}

.customer-image{
    width:100px;
    border-radius: 50%;
}

/* about section  */
.about-us-container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    width: 1480px;
    margin: auto;
}

.about-us-container h2{
    grid-column: span 12;
    text-align: center;
}

.about-us-container h3{
    grid-column: span 6;
    width:50%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.about-us-container img{
    grid-column: span 6;
    width:100%;
    text-align: center;
}


/* footer container*/
.footer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;

    background-color: #19183B;
    color: #fff;
    padding: 24px 0;
    margin-top: 20px;
}   

.browse-more{
    width: 60%;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.find-more{
    width: 60%;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-self: center;
   
}
.social-media{
    width: 60%;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    justify-self: center;
    text-align: start;
}
.footer-container a{
    text-decoration: none;
    color:#fff; 
    margin: 10px;  
}
.social-media a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px;
}
.social-media img{
    width:24px;  
}
.copy-right{
    grid-column: span 12;
    width:100%;
    margin-top:20px;
    justify-self: center;
    text-align: center;
}
.copy-right hr{
    width: 50%;
    color:#fff;
    margin: 10px auto;
    
}
a.logo-footer {
    color:#EF7722;
    font-weight: bolder;
    font-size: 36px;
}


