.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    flex-direction: row;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.logo-section {
    font-size: 24px;
    font-weight: bold;
}
.search-bar-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-section input {
    width: 60%;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}
.search-bar-icon {
    width: 20px;
    height: 20px;
    margin-left: -30px;
    cursor: pointer;
}
.cart-login-section {
    display: flex;
    align-items: center;
}
.cart-login-section .login {
    margin-right: 20px;
    font-size: 16px;
}
.cart-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.cart-icon img {
    width: 100%;
    height: 100%;
}


